<p-panel header="New Syllabus" [toggleable]="true">

  <p-fieldset [toggleable]="true" styleClass="p-mb-5">
    <ng-template pTemplate="header">General Information</ng-template>
    <h5>Syllabus Course</h5>
    <div class="p-fluid p-mb-1">
      <p-dropdown [options]="courses" [(ngModel)]="selectedCourse" placeholder="Select a Course"
        optionLabel="courseName" [showClear]="true"></p-dropdown>
    </div>
    <h5 class="p-mt-1">Instructors</h5>
    <span class="p-fluid">
      <p-chips [(ngModel)]="newSyllabus.instructors" separator=","></p-chips>
    </span>
    <h5 class="p-mt-1">Prerequisite Courses</h5>
    <span class="p-fluid">
      <p-autoComplete [(ngModel)]="preRequisiteselectedCourses" [suggestions]="filteredCourses"
        (completeMethod)="filterCourse($event)" field="courseName" [multiple]="true">
      </p-autoComplete>
    </span>

    <h5 class="p-mt-1">Co-requisite Courses</h5>
    <span class="p-fluid">
      <p-autoComplete [(ngModel)]="coRequisiteselectedCourses" [suggestions]="filteredCourses"
        (completeMethod)="filterCourse($event)" field="courseName" [multiple]="true">
      </p-autoComplete>
    </span>

    <h5 class="p-mt-1">Hours</h5>
    <div class="p-grid p-fluid">
      <div class="p-field p-col-12 p-md-3">
        <label for="creditHours">Credit Hours</label>
        <p-inputNumber [(ngModel)]="newSyllabus.creditHours" [showButtons]="true" buttonLayout="horizontal"
          inputId="creditHours" spinnerMode="horizontal" [step]="0.5" [min]=0 decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="lectureHours">Lecture Hours</label>
        <p-inputNumber [(ngModel)]="newSyllabus.lectureHours" [showButtons]="true" buttonLayout="horizontal"
          inputId="lectureHours" spinnerMode="horizontal" [step]="6" [min]=0 decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="horizontal">Tutorial Hours</label>
        <p-inputNumber [(ngModel)]="newSyllabus.tutorialHours" [showButtons]="true" buttonLayout="horizontal"
          inputId="horizontal" spinnerMode="horizontal" [step]="6" [min]=0 decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="labHours">Lab Hours</label>
        <p-inputNumber [(ngModel)]="newSyllabus.labHours" [showButtons]="true" buttonLayout="horizontal"
          inputId="labHours" spinnerMode="horizontal" [step]="6" [min]=0 decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
    </div>
    <h5>Catalogue Description</h5>
    <span class="p-fluid">
      <textarea pInputTextarea rows="5" [cols]="30" [(ngModel)]="newSyllabus.catalogueDescription"
        autoResize="autoResize"></textarea>
    </span>

    <h5 class="p-mt-1">Text Books</h5>
    <ol [formGroup]="tbForm">

      <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-success p-m-1"
        (click)="onAddFormControl()"></button>
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger p-m-1"
        (click)="onRemoveFormControl()"></button>

      <li *ngFor="let item of tbForm.get('tb')?.controls">
        <span class="p-fluid">
          <input type="text" pInputText [formControl]="item.get('textBook')" class="p-m-1">
        </span>
      </li>
    </ol>

  </p-fieldset>


  <p-fieldset legend="Topical Outline and Grading" [toggleable]="true">
    <h5 class="p-mt-1">Topical Outline</h5>
    <table>
      <thead>
        <tr>
          <th>Weeks</th>
          <th>Chapter</th>
          <th>Lecture Topics</th>
        </tr>
      </thead>
      <tbody [formGroup]="tbForm">
        <tr *ngFor="let to of  toForm.get('to')?.controls">
          <td> <input type="text" pInputText [formControl]="to.get('week')" class="p-m-1"> </td>
          <td>  <input type="text" pInputText [formControl]="to.get('chapter')" class="p-m-1"> </td>
          <td> <input type="text" pInputText [formControl]="to.get('lectureTopic')" class="p-m-1"> </td>
        </tr>
      </tbody>
    </table>
  </p-fieldset>





</p-panel>
