<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Users</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Users</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Confirmation Dialog -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<!-- Toast -->
<p-toast key="signup"></p-toast><!-- Toast -->


<!-- Menu Context -->
<p-contextMenu #cm [model]="items"></p-contextMenu>
<!--New user Modal -->
<p-dialog header="{{header}}" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <!-- Toast -->
  <p-toast key="signup"></p-toast>
  <form #form="ngForm">

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="firstname">Firstname</label>
        <input id="firstname" name="firstname" [(ngModel)]="newUser.firstName" type="text" #firstname="ngModel"
          class="form-control ng-untouched ng-pristine ng-valid" required pInputText pInputText>
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          Firstname is required
        </div>
      </div>


      <div class="p-field p-col-6">
        <label for="lastname">Lastname</label>
        <input id="lastname" name="lastname" [(ngModel)]="newUser.lastName" type="text" #lastname="ngModel"
          class="form-control ng-untouched ng-pristine ng-valid" required pInputText pInputText>
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Lastname is required
        </div>
      </div>


      <div class="p-field p-col-12">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" [(ngModel)]="newUser.email" email="true" #email="ngModel"
          [disabled]="update" class="form-control ng-untouched ng-pristine ng-valid" required pInputText>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Valid Email is required
        </div>
      </div>

      <div [hidden]="update" class="p-field p-col-12 p-fluid p-formgrid p-grid ">


        <h5 class="p-field p-col-12">Roles</h5>
        <div class="p-field-checkbox p-field p-col-12 p-md-4">
          <p-checkbox name="adminRole" [(ngModel)]="adminRole" inputId="adminRole"></p-checkbox>
          <label for="adminRole">Admin</label>
        </div>
        <div class="p-field-checkbox  p-field p-col-12 p-md-4">
          <p-checkbox name="coordinatorRole" [(ngModel)]="coordinatorRole" inputId="coordinatorRole"></p-checkbox>
          <label for="coordinatorRole">Coordinator</label>
        </div>
        <div class="p-field-checkbox p-field p-col-12 p-md-4">
          <p-checkbox name="instructorRole" [(ngModel)]="instructorRole" inputId="instructorRole"></p-checkbox>
          <label for="instructorRole">Instructor</label>
        </div>


        <h5 class="p-field p-col-12 ">Notify User</h5>
        <div class="p-field-checkbox p-field p-col-12">
          <p-checkbox name="sendEmail"  [(ngModel)]="sendEmail"  inputId="sendEmail">
          </p-checkbox>
          <label for="sendEmail">Send Email</label>
        </div>

      </div>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit" (click)="onSave()"
      [disabled]="!form.form.valid"></button>
  </ng-template>
</p-dialog>

<!--Data table -->
<div class="p-grid p-formgrid">
  <div class="p-col-12 p-mb-5">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="showModalDialog()"></p-button>
        <!-- <p-button label="Update" icon="pi pi-pencil" styleClass="p-button-success"></p-button> -->
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
          (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
        <i class="p-toolbar-separator pi pi-bars p-mr-2" style="vertical-align: middle"></i>
      </div>

      <div class="p-toolbar-group-right">
        <button type="button" pButton pRipple icon="pi pi-file-o" class="p-mr-2" pTooltip="CSV"
          tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success p-mr-2" pTooltip="XLS"
          tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning p-mr-2" pTooltip="PDF"
          tooltipPosition="bottom"></button>
        <!-- <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
      </div>
    </p-toolbar>
  </div>

  <!-- Tab of user list -->
  <p-panel class="p-col-12">
    <div class="card p-p-2">
      <h5>User List</h5>
      <p-table #dt1 [value]="users" [(selection)]="selectedUsers" dataKey="email" [rows]="10"
        [(contextMenuSelection)]="selectedUser" [contextMenu]="cm" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['firstName', 'lastName','email']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="firstName">
              <div class="p-d-flex p-jc-between p-ai-center">
                First Name
                <p-sortIcon field="firstName"></p-sortIcon>
                <p-columnFilter type="text" field="firstName" display="menu" class="p-ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="lastName">
              <div class="p-d-flex p-jc-between p-ai-center">
                Last Name
                <p-sortIcon field="lastName"></p-sortIcon>
                <p-columnFilter type="text" field="lastName" display="menu" class="p-ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="email">
              <div class="p-d-flex p-jc-between p-ai-center">
                Email
                <p-sortIcon field="email"></p-sortIcon>
                <p-columnFilter type="text" field="email" display="menu" class="p-ml-auto"></p-columnFilter>
              </div>
            </th>

            <th pSortableColumn="creationDate">
              <div class="p-d-flex p-jc-between p-ai-center">
                Creation Date
                <p-sortIcon field="creationDate"></p-sortIcon>
                <p-columnFilter type="date" field="creationDate" display="menu" class="p-ml-auto"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr [pContextMenuRow]="user">
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.lastName}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.creationDate | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editUser(user)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteUser(user)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</div>
