<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a>Smart Education</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form (ngSubmit)="onSubmit()" #form="ngForm">

        <div class="p-fluid">
          <div class="p-field">
              <label for="firstname1">Email</label>
              <span class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
              <input id="firstname1" type="email" name="email" [(ngModel)]="user.email" pInputText>
              </span>
          </div>
          <div class="p-field">
              <label for="lastname1">Password</label>
              <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
              <p-password id="lastname1" [toggleMask]="true" [feedback]=false name="password" [(ngModel)]="user.password"></p-password>
              </span>
          </div>
      </div>

        <div class="row">
          <div class="col-8">
            <div class="p-field-checkbox">
              <p-checkbox [(ngModel)]="rememberMe" binary="true" name="rememberMe" inputId="binary"></p-checkbox>
              <label for="binary">Remember Me</label>
          </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button pButton pRipple type="submit" label="Sign In" class="p-button-raised  p-button-rounded"></button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
