<div class="container">
   <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>PROGRAM EDUCATIONAL OBJECTIVES</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">PEOs</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="p-mb-5">
    <p-panel header="PROGRAM EDUCATIONAL OBJECTIVES ‘PEOs’" [toggleable]="false">
      <div class="p-m-2">
        <b> PEO1:</b> Graduates will apply principles and practices of computing grounded in mathematics and science to
        successfully complete software-related projects to meet customer business objectives and/or productively engage
        in
        research. Have the ability to adopt new technologies, tools, paradigms, and design methodologies.
      </div>
      <div class="p-m-2">
        <b>PEO2 :</b>
        Understand and deploy principles from theory of computing, mathematics, statistics, and theories of programming
        languages, in appropriate contexts, when needed.
      </div>
      <div class="p-m-2">
        <b> PEO3:</b> Graduates will creatively solve problems, communicate
        effectively, and successfully function in multi-disciplinary teams.
      </div>
      <div class="p-m-2">
        <b>PEO4:</b> Graduates will become productive members of society with high ethical and professional standards,
        who make
        sound technical or managerial decisions. Have the ability to lead change in a range of contexts and to be
        lifelong
        learners
      </div>
      <div class="p-m-2">
        PEO 1: Professional Practice <br>
        PEO 2: Cross-disciplinary Foundations<br>
        PEO 3: Teamwork and Communication<br>
        PEO 4: Impact and Responsibility<br>
      </div>
    </p-panel>
  </div>
  <div class="p-mb-5">
    <p-panel header="PROGRAM MISSION" [toggleable]="false">
      The Computer Science program at UIR is designed to provide students with a strong core understanding of the
      concepts
      of computation and information management using modern software and hardware. Computer Science teaches students
      problem solving techniques to create cutting-edge technology in domains ranging from mobile devices to healthcare
      to
      knowledge sharing. The goal of the computer science curriculum is to provide students with the knowledge and tools
      that allow them to design and implement effective and creative solutions for the needs of the society. The
      graduates
      are prepared to work for industry or government agencies, or are in private practice, be able to demonstrate
      competence and are successfully contributing to the Morocco computer science and information technology workforce.
    </p-panel>
  </div>
</div>
